body {
    background: #000000;
}

#header {
    position: fixed;
    color: #ffffff;
    transition: color,background 2s;
}

.backwhite {
    background: #fff;
    padding-bottom: 10px;
}

#header a {
    color: #ffffff;
}

.blacklink a {
    color: #922190 !important;
}

#potager {
    width: 50%;
}

#recherche {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    transition: box-shadow 2s;
}

#devise {
    transition: background 2s;
}


.pannels {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.panel {
    padding-right: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel:hover .bord {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.panel:active .bord {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

/*.panel:hover .imag {
    transform: scale(1.15, 1.15);
    transition-timing-function: ease-out;
    transition-duration: 1500ms;
}*/

.pad5 {
    display: block;
    padding: 5px;
}

.bord {
    border: 1px solid #922190;
}

.round img {
    border-radius: 10px;
}

#legend {
    position: absolute;
    top: 310px;
    left: 60%;
    color: #fff;
}
#bienvenue {
    position: absolute;
    top: 220px;
    left: 30%;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;


}