
#presentation1
{


    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;

}



.membre_1
{
   vertical-align:middle;
   text-align: center;
   padding-bottom: 60px;
   padding-right:60px ;
}

.image_A
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;

    margin: 68px ;
    display: block;
}
.nom_1{
    color: black;
    font-weight: bold;
    font-size:25px;
    padding-right: 350px;
    padding-bottom: 20px;



 }
.description_1
{
    color:saddlebrown;

    font-size:19px;

    width: 840px;
    margin-bottom: 0px;

    text-align:left;
    text-align: justify;

}

#presentation2
{

    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;

}



.membre_2
{
   vertical-align:middle;
   text-align: center;
   padding-bottom: 60px;
   padding-right:60px ;
}

.image_B
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;

    margin: 68px ;
    display: block;
}
.nom_2{
    color: black;
    font-weight: bold;
    font-size:25px;

    padding-bottom: 20px;

    padding-left: 0px;
    padding-right: 350px;





}
.description_2
{
    color:saddlebrown;

    font-size:19px;

    width: 840px;
    margin-bottom: 0px;

    text-align:left;
    text-align: justify;
    padding-left: 20px;

}


#presentation3
{

    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;

}



.membre_3
{
    vertical-align:middle;
    text-align: center;
    padding-bottom: 60px;
    padding-right:60px ;
}

.image_C
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;

    margin: 68px ;
    display: block;
}
.nom_3{
    color: black;
    font-weight: bold;
    font-size:25px;
    padding-right: 350px;
    padding-bottom: 20px;



}
.description_3 {
    color: saddlebrown;

    font-size: 19px;

    width: 840px;
    margin-bottom: 0px;

    text-align: left;
    text-align: justify;
}


#presentation4
{

    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;

}



.membre_4
{
    vertical-align:middle;
    text-align: center;
    padding-bottom: 60px;
    padding-right:60px ;
}

.image_D
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;

    margin: 68px ;
    display: block;
}
.nom_4{
    color: black;
    font-weight: bold;
    font-size:25px;

    padding-bottom: 20px;

    padding-right: 50px;
    padding-left: 350px;




}
.description_4
{
    color:saddlebrown;

    font-size:19px;

    width: 840px;
    margin-bottom: 0px;

    text-align:left;
    text-align: justify;
    padding-left: 20px;

}





#presentation5
{

    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;

}



.membre_5
{
    vertical-align:middle;
    text-align: center;
    padding-bottom: 60px;
    padding-right:60px ;
}

.image_E
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;

    margin: 68px ;
    display: block;
}
.nom_5{
    color: black;
    font-weight: bold;
    font-size:25px;
    padding-right: 350px;
    padding-bottom: 20px;



}
.description_5 {
    color: saddlebrown;

    font-size: 19px;

    width: 840px;
    margin-bottom: 0px;

    text-align: left;
    text-align: justify;
}




