table {
    margin: 20px auto;
}

tbody tr {
    min-height: 51px;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background: #ddd;
}

tbody tr:hover {
    background: #2d2d2d;
    color: #ffffff;
}

td,th {
    padding: 10px;
    border: 1px solid black;
}

.profilImage {
    max-width: 80px;
}