

.container {
     margin:1em auto;
     width:40em;
     text-align:left;
     padding:0;
     min-height: 810px;

 }


fieldset{
    padding:10px 30px;
    margin:0;
    border:1px solid #ccc;
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
    border-radius:1em;
    border-bottom-width:10px;

}
legend{
    color:#333;
    padding:0 10px;
    margin:0;
    font-size:1.5em;
    font-weight:400;
}

input           {
    width:250px;

}

input, textarea {
    border:1px solid #ccc;
    padding:5px;
    margin:10px 0 0 0;
}
input:focus, textarea:focus{
    background: rgba(252, 252, 254, 0.97);
}
textarea {
    font:0.9em Verdana, Arial, Helvetica, sans-serif;
    min-height: 200px;
    min-width:400px;
    max-height: 300px;
    max-width: 600px;
}


label{
    display:block;
    margin:12px 0 0;
    font-weight:700;
    font-size:.9em;
    float:left;
    clear:left;
    width:90px;}

input .submit{

    display:block;
    float:right;
    text-align: right;


}




