.imagechou
{
    border: 3px black groove;
    margin-top:20px;
    margin-bottom: 0;
    margin-left: 150px;
    width: 80%;
    height: 300px;
    background: url("../media/choux.jpg") center;
    background-size: cover;
}
.youAre
{
    font-size: x-large;
    margin-left: 15%;
}
.cadre-gen {
    margin-bottom: 20px;
}
.cadre-titre
{
    display: block;
    border: 3px black groove;
    margin-bottom: 3px ;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 20px;
}

.openfaq {
    cursor: pointer;
    font-weight: 700;
    color: #922190;
    border-color: #922190;
}

.openfaq:hover {
    background: #dddddd;
}

.class-contenu {
    transition: all 0.4s;
    opacity: 0;
    display: none;
    transform: scale3d(0, 0, 0);
    padding: 20px;
}

