#index-forum
{
    padding-bottom: 20px;

}

#name-forum
{

    margin-bottom: 40px !important;
    color: #6e2997 ;
    margin-top: 50px;
    text-align: center;


}

table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
}
th,
td {
    padding: 20px 80px;
    vertical-align: middle;
}
thead {
    background: #6e2997;
    background: linear-gradient(#5f0497, #6e2997);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}
th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}
th:last-child {
    border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
    background: #f0f0f2;
}
td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
td:first-child {
    border-left: 1px solid #cecfd5;
}
.topics {
    color: #6e2997;
    display: block;
}


.number-post,
.number-response {
    text-align: center;
}
.last-responses {
    text-align: right;
}



form input, textarea, select
{
    float: left;
    width: 100%;
    margin: 20px 0;


}
label
{
    float: left;
    text-align: left;
}
input[type=submit]
{
    float: right;
    margin-top: 20px;
}

#list-form {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #585858;
    margin-bottom: 6px;
    table-layout: fixed;
    width: 100%;
}

#post-forum
{
    padding-bottom: 20px;

}


#topic-name
{


    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    background: #6e2997;
    color: #ffffff;
    width: 1155px;
    margin: 0 auto;


}
#response-forum {
    padding-left: 500px;
    margin-bottom: 30px;
    height: 23px
}


#post-name2 h2{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    background: #6e2997;
    color: #ffffff;
    width: 915px;
    margin: 0 auto;
}
#post-name2 h3{

    border-top-width: 12px;
    margin: 0px auto;

    background: #DDDDDD;

    width: 915px;
}
#list-response{


}
#name-forum2{
    margin-bottom: 40px !important;
    color: #6e2997 ;
    text-align: center;
    margin-top: 50px;

}
