body
{
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/

     font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    overflow-x: hidden;

}

#header {

    width: 100%;
    /*border-bottom: 1px solid black;*/
    /*position: fixed;*/
    top: 0;
    z-index: 1;
    color: #922190;

}

#breadcrumbs {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top:35px;
    margin-bottom:35px;
}

#breadcrumbs ul {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0;
}

#breadcrumbs ul li {
    padding: 0;
    float: left;
    margin: 10px;
    display: block;
    vertical-align: middle;
}

#breadcrumbs ul li a {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

#breadcrumbs ul li a:hover {
    background: #000000;
    color: #ffffff!important;
    box-shadow: 0 0 10px #000000;
}

#breadcrumbs ul li a:focus {
    box-shadow: 0 5px 10px #000000;
}

.arrow {
    margin-left: 10px;
    font-size: 15px;
}

#footer {
    border-top: 1px solid black;
    padding: 20px 0;
    background: #fff;
}

#menu {
    margin: 0 auto;
}

.nav a {
    font-size: 15px;
    color: #922190;
    text-decoration: none;
    font-weight: 700;
}

.nav a:hover {
    background: #922190;
    color: #ffffff!important;
    box-shadow: 0 0 10px #000000;
}

.nav a:focus {
    background: #922190;
    color: #ffffff!important;
    box-shadow: 0 5px 10px #000000;
}

.alert {
    border-radius: 5px;
    border: 1px solid;
    display: block;
}

.success {
    background-color: #199227;
    color: #ffffff;
}

.error {
    background-color: #920507;
    color: #ffffff;
}

input,select,textarea {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #000000;
    border-bottom: 3px solid #000000;
}

input:hover,select:hover,textarea:hover {
    border-bottom: 1px solid #000000;
}

input:focus,select:focus,textarea:focus {
    box-shadow: inset 0 2px 5px #000000;
    border-bottom: 1px solid #000000;
}

input[type="checkbox"]:focus {
    box-shadow: none;
}

input[type="submit"] {
    background: #ffffff;
    font-weight: 700;
}



h1
{
    font-weight: normal;
}
ul
{

}

.table {
    display: table;
    table-layout:fixed;
    width: 100%;
}

.table-2 {
    display: table-cell;
    width: 17%;
}

.table-3 {
    display: table-cell;
    width: 25%;
}

.table-4 {
    display: table-cell;
    width: 33%;
}

.table-5 {
    display: table-cell;
    width: 42%;
}

.table-6 {
    vertical-align: top;
    display: table-cell;
    width: 50%;
}

.table-7 {
    display: table-cell;
    width: 58%;
}

.table-8 {
    display: table-cell;
    width: 67%;
}

.table-9 {
    display: table-cell;
    width: 75%;
}

.table-10 {
    display: table-cell;
    width: 83%;
}

#title
{
    font-family:fantasy;
    color: blueviolet;



}

.menu li
{

    list-style: none;
    display: inline;
}
.inscription li
{

    list-style: none;
    display: inline;

}

.fixtop {
    position: relative;
    top: -16px;
}

.middle {
    vertical-align: middle;
}

.nav {
    clear: left;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    position:relative;
    left:50%;
    text-align: center;
}



.nav li {
    float: left;
    position:relative;
    right:50%;
}

.nav li a {
    display: block;
    padding: 2px 10px;
    border-right: 2px solid #922190;
}

.nav .last a {
    border: none;
}

.nav li a:hover {

}

#footer {
    width: 100%;
    text-align: center;
}

.floatright {
     float: right;
     left: inherit;
 }

.resetRight {
    right: auto!important;
}

.logoContainer {
    max-width: 60px;
}

.container {
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal {
    width: 400px;
    text-align: center;
}

.modal label {
    display: table;
    width: 100%;
}

.modal label .label {
    display: table-cell;
    width: 33%;
    text-align: right;
}

.modal label input, .modal label textarea {
    display: table-cell;
    width: 67%;
}

.center {
    width: auto;
    margin: 0 auto;
}

.txtcenter {
    text-align: center;
}

.imag {
    max-width: 100%;
    min-width: 100%;
}

.button {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px;
}

.add {
    width: 29px;
    border-radius: 25px;
    background: #2d9244;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: white;
}

.rm {
    background: red;
}

.button:active {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1015px) {
    .table-7 {
        display: table-cell;
        width: 50%!important;
    }
    .table-2 {
        display: table-cell;
        width: 25%!important;
    }

    h1 {
        font-size: 22px!important;
    }

    #potager {
        width: 25%!important;
    }

    .proximity {
        width: 50%!important;
    }
}