#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d7d7d7;
    opacity: 0.7;
    display: none;
    z-index: 3;
}

.modal {
    background: white;
    margin: 0 auto;
    z-index: 1000;
    display: none;
    left: 50%;
    top: 0;
    position: fixed;
    border-radius: 5px;
    transition: all 0.4s;
    box-shadow: 0 0 42px black;
    padding: 25px;
}

.modal .head {
    font-weight: 700;
    font-size: 17px;
    color: #922190;
    text-align: left;
    margin-left: 15px;
}

.modal hr {
    border-color: #922190;
    margin: 15px;
}