#myProfil{
    display:table;
}

#imageProfil{
    display:table-cell;
    width:50%;
}
#profil{
    display:table-cell;
    width:50%;
    vertical-align: top;
}
#infor {
    display:inline-block;
    border: 1px solid black;
}
#mesInfos{
    width:100%;
    border: 2px solid black;
}
#form{
    display: none;
}

.add{
    background-color: #6e2997;
    padding: 7px 20px;
    border: 1px solid #000;
    cursor: pointer;
}
.add:hover{
    background-color: #6e2997;
    padding: 7px 20px;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: inset 0 0 5px #000000;
}