.bordur{


}

.annonce{
    max-width: 200px;
    max-height: 400px;
}
.quantite{
    width: 20%;
    height: 20%;
    padding: 15px;
}
.imagi{
    border: 1px solid black;
    width: 100%;

}
.imag{

}
.pad10{
    padding: 10px;
}

.caddie {
    width: 45px;

}
.name{

}
.button1{
    text-align: right;
    margin-top: -20px;

}
.prix{

    text-align: left;
    margin-top: 50px;

}
.tablegrand{
    text-align: left;
}

.modal{
/*    background-color: #922190;*/
    border: 1px solid #000;
}
.add{
    background-color: #6e2997;
    padding: 7px 20px;
    border: 1px solid #000;
    cursor: pointer;
}
.add:hover{
    background-color: #6e2997;
    padding: 7px 20px;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: inset 0 0 5px #000000;
}
.panel {
    padding-right: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.panel:hover .bord {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.panel:active .bord {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.bord {
    border: 1px solid #922190;
}
.pannels {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.imgbord {
    height: 286px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}