

/*
 * Rating styles
 */
.rating {
    width: 226px;
    margin: 0 auto;
    font-size: 45px;
    overflow:hidden;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating label {
    float:right;
    color: #aa89a9;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: #c716f2;
    cursor: pointer;


}

.rating .selected,
.rating .selected label ~ label,
.rating .selected input ~ label,
.rating .selected label,
.rating .selected a,
.rating .selected a ~ a,
.rating .selected a,
.rating .selected a ~ a {
    color: #7802ff;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}
.container-table-100{


    display:table;
    table-layout: fixed;
    width: 100%;
    min-width:650px;

}


.container-table-25{
    vertical-align: top;
    display: table-cell;
    width:25%;
}

.container-table-33{


    vertical-align: top;
    display: table-cell;

    width:100%;
    max-height: 400px;
}

.container-table-50{
    vertical-align: top;
    display: table-cell;
    width:50%;
}
.container-table-75{
    vertical-align: top;
    display: table-cell;
    width:75%;
}
.left-container{
    text-align: left;
    min-width: 200px;
}

.right-container{
margin-right: 50px;
margin-left: -50px;

}

.img_profile{
    height: 300px;
    width: 80%;

}
.img_map{

     max-height: 600px;
     width: 80%;

 }

.img_current-sales{
    margin: 20px;
    width: 300px;
    height:350px;
    min-height: 250px;
    min-width: 300px;
}
#maps{
    border: 1px solid #666666;
     height: 500px;
     width: 80%;
    background-color:#E4EFFF;
    border-radius: 8px;

 }
.inline-profile{
    margin-bottom: 0;
}

h2 {
font-size: 32px;
  text-align: center;
}



.title{
    font-weight: normal;
}


#message {
    width: 99%;
}

.comments {
    margin-right: 40px;
}

.comment {
    border: 1px solid #6e2997;
    margin: 20px;

}

.comment .table-3 img{
    border-radius: 8px;
    max-width: 144px;
    display: block;
    margin: 50px;
    margin-top: 30px
}

.comment .table-3 .underPicture{
    border-radius: 10px;
    background-color: rgba(123, 15, 179, 0.12);
    max-width: 180px;
    display: block;
    margin-left: 25px;
    margin-top: -50px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    padding-left: 5%;
}

.comment .table-9 {


    vertical-align: top;
    margin:70px;
    padding: 50px;

}
.comment .table-9 .echoComment{
    /*margin-right: 12px;*/
    margin-left: 0;
    background-color: rgba(230, 233, 221, 0.85);
    border: 9px solid rgba(224, 233, 224, 0.85);
    border-radius: 8px;
    height: 110px;
    display: block;
}
