.pannels {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.panel {
    padding-right: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel:hover .bord {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.panel:active .bord {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.searchForm input,.searchForm select {
    width: 85%;
    padding: 5px;
    margin: 10px;
}

.searchForm input[type="checkbox"] {
    padding: 0;
    margin: 0;
}

.searchForm input[type="submit"] {
    width: 95%;
}

.searchForm input:focus,.searchForm select:focus {

}