.ht{
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
}
.ttc{
    text-align: right;
    font-size: 18px;
}
.prix{
    padding: 10px;
    background-color: #976487;
    border: 3px solid #000;
}
input {
    width: 100%;
}
.table-6 {
    padding: 2px;
}