.imag{


}
.information{

    font-size: 18px;
    margin-left: 10px;
}
.echange{
    font-size: 16px;
}
.quantite{
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
}
.quantity{

}
.labelQuantity {
}
.bord{
    width: 100%;
}

.imgbord {
    height: 286px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.blank {
    cursor: default;
}