.table {
    width: 100%;
    background: #ffffff;
    display: table;
    table-layout:fixed;

}
.image_annonce{
    width: 50%;
    display :table-cell;
    vertical-align: bottom;
    horiz-align: center;

}
.img_annonce{
    background: #000000;
    max-width: 100%;
}
.annonce{
    width: 50%;
    display:table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
}
.image_profil{
    display: table-cell;
   width:12%;
    vertical-align: top;
}
.img_profil{
    width:70px;
    height:70px;
    /*background: #2d9244;*/
    display: block;
    border: 1px solid black;
    border-radius: 2px;


}
.info_titre{
    display:table-cell;
    vertical-align: top;
}
.title{
    margin: 10px;
}
.liste_title{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
.liste_title li{
    margin: 0px;
    padding: 10px;
    display:inline-block;
}
.info_local{
    margin: 0px;
    padding: 0px;
    display:table-cell;
    width: 50%;

}
.form{
    margin: 0px;
    padding: 0px;
    display:table-cell;
    width: 50%;
}

#maps{
    min-height: 400px;
}
.comment {
    padding: 20px;
}

.round img {
    border-radius: 5px;
}
